@tailwind base;
@tailwind components;
@tailwind utilities;

.social-media-btn{
    margin: 0 5px !important;
    background-color: rgba(217, 217, 217, 0.3) !important;
    color: #fff !important;
    border: none;
    padding: 5px 8px !important;
}
.icon{
    width: 15px !important;
    height: 30px !important;
    align-self: center !important;
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon-grid{
    background-color: rgba(0, 0, 0, 1) !important;
}

.icon-box{
    margin: 0 !important;
}

.sidebar{
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: blue;
    position: fixed;
   color: #000;
    height: 100%;
    overflow: auto;
}