@tailwind base;
@tailwind components;
@tailwind utilities;

.social-media-btn{

    background-color: rgba(217, 217, 217, 0.3) !important;
    color: #fff !important;
    border: none;
    padding: 5px 10px !important;
}
.icon{
    width: 15px !important;
    height: 30px !important;
    align-self: center !important;
}

.box-shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.icon-grid{
    background-color: rgba(0, 0, 0, 1) !important;
}

.icon-box{
    margin: 0 !important;
}
